{
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "process": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "rules": {
    "@next/next/no-img-element": 0,
    "semi": "off",
    "prettier/prettier": ["error", { "singleQuote": true, "endOfLine": "auto" }],
    "react/jsx-no-target-blank": "warn",
    "camelcase": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": ["camelCase"]
      },
      {
        "selector": "class",
        "format": ["PascalCase"]
      },
      {
        "selector": "interface",
        "format": ["PascalCase"]
      },
      {
        "selector": "typeParameter",
        "format": null
      },
      {
        "selector": "typeAlias",
        "format": null
      },
      {
        "selector": "property",
        "format": null
      },
      {
        "selector": "variable",
        "format": null
      },
      {
        "selector": "enum",
        "format": null
      },
      {
        "selector": "enumMember",
        "format": null
      }
    ],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/explicit-module-boundary-types": [
      "warn",
      {
        "allowArgumentsExplicitlyTypedAsAny": true
      }
    ]
  }
}
